---
layout: page
---

{% if site.email or site.formspree_form_id %}

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
  }
</style>

<img class="img-rounded" src="/assets/img/uploads/waleadapp-round.png" alt="WALeadApp" width="200">

<div class="container">

  <h2>{{ site.translations.contact.title | default: "Saya Mau WALeadApp" }}</h2>

  <div id="form" class="contact-form">
    <form accept-charset="UTF-8" method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLSdUvdkn_-UBhLjwa8ZuXPF-xPpW8544qcS-mt94iR-L_1SaEQ/formResponse" v-on:submit.prevent="validateBeforeSubmit" ref="contact">
      <fieldset>
        <input type="text" name="entry.2005620554" placeholder="{{ site.translations.contact.placeholders.name | default: 'Nama (wajib diisi)' }}" v-validate="'required'"
               :class="{ 'has-error': errors.has('entry.2005620554') }">
        <span v-if="errors.has('entry.2005620554')" v-cloak>${ errors.first('entry.2005620554') }</span>

        <input type="text" name="entry.1045781291" placeholder="{{ site.translations.contact.placeholders.email | default: 'Email (wajib diisi)' }}" v-validate="'required|email'"
               :class="{ 'has-error': errors.has('entry.1045781291') }">
        <span v-if="errors.has('entry.1045781291')" v-cloak>${ errors.first('entry.1045781291') }</span>

        <input type="text" name="entry.1166974658" placeholder="{{ site.translations.contact.placeholders.phone | default: 'No WA (wajib diisi)' }}" v-validate="'required'"
               :class="{ 'has-error': errors.has('entry.1166974658') }">
        <span v-if="errors.has('entry.1166974658')" v-cloak>${ errors.first('entry.1166974658') }</span>

        <textarea name="entry.1808876429" onkeyup="adjust_textarea(this)" placeholder="{{ site.translations.contact.placeholders.message | default: 'Tujuan mengunduh WALeadApp (wajib diisi)' }}" v-validate="'required'"
                  :class="{ 'has-error': errors.has('entry.1808876429') }"></textarea>
        <span v-if="errors.has('entry.1808876429')" v-cloak>${ errors.first('entry.1808876429') }</span>

        <button type="submit">{{ site.translations.contact.submit_btn | default:  "Kirim" }}</button>
      </fieldset>
    </form>
  </div>

</div>

<script type="text/javascript">
function adjust_textarea(h) {
    h.style.height = "200px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.8"></script>
<script type="text/javascript">
Vue.use(VeeValidate);

const dictionary = {
  {{ site.translations.contact.errors.locale | default: 'en' }}: {
    custom: {
      'entry.2005620554': {
        required: "{{ site.translations.contact.errors.empty_name | default: 'Name is required' }}"
      },
      'entry.1045781291': {
        required: "{{ site.translations.contact.errors.empty_email | default: 'Email is required' }}",
        email: "{{ site.translations.contact.errors.invalid_email | default: 'Email is invalid' }}"
      },
      'entry.1166974658': {
        required: "{{ site.translations.contact.errors.empty_phone | default: 'Phone is required' }}"
      },
      'entry.1808876429': {
        required: "{{ site.translations.contact.errors.empty_message | default: 'Message is required' }}"
      }
    }
  }
};

VeeValidate.Validator.updateDictionary(dictionary);
VeeValidate.Validator.setLocale("{{ site.translations.contact.errors.locale | default: 'en' }}");

new Vue({
  el: '#form',
  delimiters: ['${', '}'],
  methods: {
    validateBeforeSubmit: function () {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        this.$refs.contact.submit();
      }
    }
  }
});
</script>

{% else %}

<script>window.location = "{% if site.url == '' and site.baseurl == '' %}/{% else %}{{ site.url }}{{ site.baseurl }}{% endif %}";</script>

{% endif %}
